.page {
  position: relative;
  background: linear-gradient(#0099ad 40%);

  display: grid;
  align-items: center;
  justify-items: center;
  min-height: 10svh;
  padding: 50px;
  font-family: var(--font-geist-sans);
  z-index: 1;
}

.footer {
  color: white;
  display: flex;
  gap: 150px;
  align-items: center;
}

.footerleft {
  display: grid;
  gap: 15px;
  flex-direction: row;
}

.footercenter {
  display: grid;
  gap: 15px;
  flex-direction: row;
}

.footerright {
  display: grid;
  gap: 15px;
  flex-direction: row;
}

.footerlink {
  color: white;
  text-decoration: none;
}

.footerlink:hover {
  color: white;
  text-decoration: underline;
}

.logo {
  margin-bottom: 50px;
}

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 30%;
  margin: 0 auto;
  row-gap: 100px;
  column-gap: 50px;
  position: relative;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.logoGrid {
  display: grid;
  grid-template-columns: repeat(4, 2fr); /* two equal columns */
  gap: 1rem; /* space between images */
  justify-items: center; /* center images in their cells */
  align-items: center;
}

.img_invert img {
  filter: invert(1);
}

@media screen and (max-width: 1000px) {
  .page {
    position: relative;
    background: linear-gradient(#0099ad 40%);

    display: grid;
    align-items: center;
    justify-items: center;
    min-height: 10svh;
    padding: 50px;
    font-family: var(--font-geist-sans);
    z-index: 1;
  }

  .footer {
    display: flex;
    gap: 25px;
    align-items: center;
  }

  .footerleft {
    display: grid;
    gap: 15px;
    flex-direction: row;
  }

  .footercenter {
    display: grid;
    gap: 15px;
    flex-direction: row;
  }

  .footerright {
    display: grid;
    gap: 15px;
    flex-direction: row;
  }

  .logo {
    margin-bottom: 50px;
  }

  .images {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    width: 100%;
    margin: 0 auto;
    row-gap: 10px;
    column-gap: 10px;
    position: relative;
    align-items: center;
    justify-items: center;
    align-content: center;
  }

  .logoGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* two equal columns */
    gap: 1rem; /* space between images */
    justify-items: center; /* center images in their cells */
    align-items: center;
  }

  .img_invert img {
    filter: invert(1);
  }
}
