.subscribe {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  min-height: min-content;

  font-family: var(--font-geist-sans);
  z-index: 1;
}

.subscribeElements {
  margin: 15px;
}

.subscribeInput {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 300px;
  color: #ed5c10;
  background-color: white;
  border-color: #ed5c10;
}

.subscribeInput::placeholder {
  color: #ed5c10;
}

.subscribeButton {
  padding: 8px 16px;
  font-size: 1rem;
  background-color: #ed5c10;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.subscribeButton:hover {
  opacity: 0.9;
}
